.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* background-color: transparent; */
    /* Make the navbar transparent */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure navbar stays on top of other content */
    display: flex;
    justify-content: space-between;
    /* Space between logo and navigation links */
    padding-inline: 0.5rem;
    box-sizing: border-box;
}

.navLinks {
    display: flex;
    align-items: center;
    /* Vertically center the navigation links */
    gap: 20px;
    /* Space between each navigation link */
    /* Add more styling as needed */
}