.div-style {
    margin: 5px;
}

.button {
    margin-inline: 5px;
    cursor: pointer;
}

.completed-todo {
    color: grey;
}

.custom-checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: lightgray;
}

.no-bullet-points {
    list-style: none;
    padding: 0;
}

.draggable-item {
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

.button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #4d5353;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 2px 10px 2px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button:hover {
    background-color: #f7fafa;
}

.button:focus {
    border-color: #6790bb;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.input-style {
    padding: 2px 5px 2px 5px;
    margin: 5px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    font-size: 13px;
    line-height: 29px;
    vertical-align: middle;
    flex-grow: 1;
    margin-right: 8px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.container-style {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.container-style:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
}

.container-style:first-child,
.container-style:last-child {
    flex-grow: 0;
    /* Do not grow the first and last columns */
}

.container-style:nth-child(2) {
    flex-grow: 1;
    /* Grow only the middle column */
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: flex-start;
}

.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-svg-icon {
    width: 16px;
    height: 16px;
    fill: #4d5353;
}

.edit-svg-icon-hover {
    fill: #6790bb;
}

.remove-svg-icon {
    width: 16px;
    height: 16px;
    fill: #4d5353;
}

.remove-svg-icon-hover {
    fill: #fe5771;
}

.section-style {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    max-width: 50rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    background-color: white;
}

@media (max-width: 600px) {
    .body-mobile {
        padding: 0px;
        margin: 0px;
        font-size: 16px;
        background-color: #f4f2ee;
        padding-top: 60px;
    }

    .section-mobile {
        background-color: #f4f2ee;
        width: fit-content;
        padding: 0px;
        margin: 15px;
        box-shadow: none;
    }

    .container-mobile {
        background-color: inherit;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}