body {
    background-color: #f7f3f35e;
    color: rgb(69, 69, 69);
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ListItem {
    color: rgb(69, 69, 69);
    margin: .5rem;
}

div button {
    margin-inline: 5px;
    cursor: pointer;
}

.completedTodo {
    color: grey;
}

.customCheckbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Smooth transition on hover */
    margin-right: 10px;
}

.customCheckbox:checked {
    width: 1.3em;
    height: 1.3em;
    background-color: lightgray;
    border: 1px solid #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    /* More prominent shadow for checked state */

}

.noBulletPoints {
    list-style: none;
    padding: 0;
}

.draggableItem {
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

h1 {
    font-weight: 100;
    font-variant: small-caps;
    font-size: 1.5rem;
}

.button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #4d5353;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 2px 10px 2px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button:hover {
    background-color: #f7fafa;
}

.button:focus {
    border-color: #6790bb;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.buttonWithMargin {
    padding-inline: 15px;
    margin: 20px;
}

input {
    padding: 2px 5px 2px 5px;
    margin: 5px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    font-size: 13px;
    line-height: 29px;
    vertical-align: middle;
    flex-grow: 1;
    /* Allow input to grow and fill available space */
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Adjust if necessary */
    width: 100%;
    /* Ensure container uses full width */
    padding: 10px 33px 10px 35px;
}

.editInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container:hover {
    box-shadow: rgba(149, 157, 165, 0.124) 0px 8px 24px;
    background-color: whitesmoke;
}

.container .column:first-child,
.container .column:last-child {
    flex-grow: 0;
    /* Do not grow the first and last columns */
}

.container .column:nth-child(2) {
    flex-grow: 1;
    /* Grow only the middle column */
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: flex-start;
}

.buttonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.editSvgIcon {
    width: 16px;
    height: 16px;
    fill: #4d5353;
}

.buttonIcon:hover .editSvgIcon {
    fill: #6790bb;
}

.removeSvgIcon {
    width: 16px;
    height: 16px;
    fill: #4d5353;
}

.buttonIcon:hover .removeSvgIcon {
    /* background-color: #fee2e2; */
    fill: #fe5771;
}

section {
    display: flex;
    flex-direction: column;
    min-width: 45rem;
    max-width: 45rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    background-color: white;
    margin-top: 60px;
}

.spanStyle {
    font-size: small;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    margin: 20px 20px 20px 12px;
}

/* Small devices (mobile, 600px and down) */
@media (max-width: 600px) {

    body {
        font-size: 14px;
        background-color: #f4f2ee;
        padding-top: 20px;
        min-width: fit-content;
    }

    .inputContainer {
        padding: 0px 8px 10px 20px;
    }

    .editInput,
    .container,
    .heading,
    .button {
        padding: 2px 5px 2px 5px;
    }

    .heading {
        margin: 4vw 10px 10px;
    }

    section {
        margin: 0px;
        padding: 30px 5px 2px 5px;
        min-width: 100%;
        max-width: 100%;
    }

    .inputContainer,
    .container {
        width: 100%;
        /* Use percentage for responsive width */
        box-shadow: none;
    }
}