body {
    background-color: #f7f3f35e;
    color: rgb(33, 33, 33);
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.ListItem {
    color: black;
    margin: .5rem;
}

div {
    margin: 5px;
}

div button {
    margin-inline: 5px;
    cursor: pointer;
}

.completedTodo {
    color: grey;
}

.customCheckbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}


.customCheckbox:checked {
    background-color: lightgray;
}

.noBulletPoints {
    list-style: none;
    padding: 0;
}

.draggableItem {
    cursor: grab;
}

.dragging {
    cursor: grabbing;
}

h1 {
    font-weight: 100;
    font-variant: small-caps;
}

.button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #4d5353;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 2px 10px 2px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    /* width: 100px; */
}

.button:hover {
    background-color: #f7fafa;
}

.button:focus {
    border-color: #6790bb;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.buttonWithMargin {
    padding-inline: 15px;
    margin: 20px;
}

input {
    padding: 2px 5px 2px 5px;
    margin: 5px;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    font-size: 13px;
    line-height: 29px;
    vertical-align: middle;
    flex-grow: 1;
    /* Allow input to grow and fill available space */
    margin-right: 8px;
    /* Provide some space between input and button */

}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Adjust if necessary */
    padding: 0;
    width: 100%;
    /* Ensure container uses full width */
}

.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.container:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 24px;
}

.container .column:first-child,
.container .column:last-child {
    flex-grow: 0;
    /* Do not grow the first and last columns */
}

.container .column:nth-child(2) {
    flex-grow: 1;
    /* Grow only the middle column */
    display: flex;
    align-items: center;
    /* Align items vertically */
    justify-content: flex-start;
}

.buttonIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editSvgIcon {
    width: 16px;
    height: 16px;
    fill: #4d5353;
}

.buttonIcon:hover .editSvgIcon {
    fill: #6790bb;
}

.removeSvgIcon {
    width: 16px;
    height: 16px;
    fill: #4d5353;
}

.buttonIcon:hover .removeSvgIcon {
    /* background-color: #fee2e2; */
    fill: #fe5771;
}

section {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    max-width: 50rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    background-color: white;

}

/* Small devices (mobile, 600px and down) */
@media (max-width: 600px) {

    body {
        padding: 0px;
        margin: 0px;
        font-size: 16px;
        background-color: #f4f2ee;
        padding-top: 60px;
    }

    section {
        background-color: #f4f2ee;
        width: fit-content;
        padding: 0px;
        margin: 15px;
        box-shadow: none;
    }

    .container {
        background-color: inherit;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}